.q01 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q02 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q03 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q04 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q05 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q06 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q07 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q08 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q09 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q10 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q11 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q12 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q13 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q14 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q15 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q16 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q17 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q18 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q19 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q2b0 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q21 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q22 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q23 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q24 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q25 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q26 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q27 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q28 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q29 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q30 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q31 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q32 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q33 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q34 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q35 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q36 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q37 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q38 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q39 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}


.txt {
	font-size: 40px;
	border: none;
	outline: none;
	width: 80%;
	height: 500px;
}

#rate {
	gap: 1rem;
}

#pitch {
	gap: 1rem;
}

.text-a {
	margin: 30px auto;
}

.btn {
	border: none;
	outline: none;
	background: #008;
	padding: 10px 30px;
	font-size: 20px;
	color: #eee;
	cursor: pointer;
	margin: 10px auto;			 
}

.btn:hover {
	background: #111;
}
