.rootDiv,
.gridGameOverDiv,
.gridGameOverRestart,
.buttonDiv,
.buttonMode {
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

.gridContainer {
	display: grid;
	gap: 5px 5px;
	grid-template-columns: repeat(3, 100px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gridItem {
	border: 1px solid #808080;
	font-size: 100px;
	text-align: center;
	height: 100px;
	width: 100px;
}

.disabled {
    cursor: not-allowed;
}

.x::after {
	content: '❌';
}

.o::after {
	content: '⭕';
}

.buttonModeLight {
	background-color: white;
	color: black;
}

.buttonModeDark {
	background-color: black;
	color: white;
}
