.sSpan {
	border: none;
	outline: none;
	background: #008;
	font-size: 20px;
	color: #eee;
	cursor: pointer;
	margin: 10px;
	padding: 40px 30px;	
}

.sDiv {
	background: #fff;
	margin: 10px;
	padding: 40px 30px;
}
