.ttt {
	border: none;
	outline: none;
	background: #008;
	font-size: 20px;
	color: #eee;
	cursor: pointer;
	margin: 10px; /*auto;*/
	padding: 40px 30px;	
}

.text-a {
	background: #fff;
	margin: 10px; /*auto;*/
	padding: 40px 30px;
}

.bcd {
	margin: 10px; /*auto;*/
	padding: 40px 30px;
	font-size: 30px;
}

#dfg {
	font-size: 50px;
}
