body {
    width: 90%;
    max-width: 820px;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    gap: 20px;
}

footer {
    border-radius: 5px;
    padding: 10px;
    /*background-color: rgb(207,232,220);*/
    /*border: 2px solid rgb(79,185,227);*/
}

article {
    grid-column: 1 / 4;
    grid-row: 1;
}

footer {
    grid-column: 1;
    grid-row: 2;
}
