.myDiv,
.myImg,
.mySelect,
.myCheckbox,
.myButton {
    font-size: 20px;
    padding: 5px;
}

.myLabel {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    width: 120px;
}

.myText {
    font-size: 80px;
    padding: 5px;
    border: none;
    border-color: transparent;
    display: inline-block;
}
