.rootDiv {
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

.sentencesDiv,
.sentencesSelect,
.textDiv,
.readonlyDiv,
.buttonsDiv,
.previousButton,
.playButton,
.nextButton,
.rateDiv,
.pitchDiv,
.voiceDiv,
.voiceSelect {
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

.textLabel,
.readonlyLabel,
.rateLabel,
.pitchLabel {
	display: inline-block;
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	width: 120px;
}

.textInput,
.readonlyInput {
	border: none;
	border-color: transparent;
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}


.rateInput,
.pitchInput {
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

body {
	background-color: white;
	color: black;
}

.darkModeButton {
	background-color: black;
	color: white;
}

.modeDiv,
.modeButton {
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}
