.myDiv,
.myButton,
.myText,
.mySpan {
    font-size: 20px;
    padding: 5px;
}

.myGrid {
    font-size: 20px;
    padding: 5px;
    display: grid;
    gap: 5px 5px;
    grid-template-columns: repeat(3, 300px);
}

.myAudio {
    font-size: 20px;
    padding: 5px 0px;
}
