.soundTitleH1,
.soundShowAllDiv,
.soundLetterAllDiv,
.soundLetterDiv,
.soundLetterAudio,
.soundTextInput,
.soundLetterSpan {
	
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.soundShowAllButton,
.soundPlayButton,
.soundShowButton {
	
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	
	font-size: 20px;
}

.soundLetterSpan {
	display: none;
}
