.q01 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q02 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q03 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q04 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q05 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q06 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q07 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q08 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.text-a {
	margin: 10px auto;
	font-size: 30px;
}
