.rootDiv {
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.modeDiv,
.modeButton {
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.copyInput {
  font-size: 28px;
  margin: 5px 5px 5px 5px;
}
