.myH1 {
	font-size: 20px;
	padding: 5px;
}

.myTextarea {
	font-size: 20px;
	padding: 5px;
	vertical-align: bottom;
}

.myDiv {
	font-size: 20px;
}

.mySpan {
	font-size: 20px;
	display: inline-block;
}

input[type=text], textarea {
    border-style: inset;
    border-width: 2px;
}

.myImage {
	font-size: 20px;
	width: 100px;
}
