.a4 {
	margin: 20px auto;
}

.a3 {

}

.a2 {
	background: #008;
	cursor: pointer;
	
	padding: 10px 30px;
	margin: 10px auto;
	
	border: none;
	outline: none;
}

.a2:hover {
	background: #111;
}

.a1 {
	margin: 30px auto;
}

/*
.btn {
	border: none;
	outline: none;
	
	font-size: 20px;		 
}
*/
