.q01 {
	margin: 10px;
	padding: 10px 30px;
	
	font-size: 20px;		
}

.q02 {
	margin: 10px;
	padding: 10px 30px;
	
	font-size: 20px;		
}

.q03 {
	background: #008;
	
	margin: 10px;
	padding: 10px 30px;
	
	font-size: 20px;		
}

.q03:hover {
	background: #111;
}

.q04 {
	background: #008;
	
	margin: 10px;
	padding: 10px 30px;
	
	font-size: 20px;		
}

.q04:hover {
	background: #111;
}

.q05 {
	background: #008;
	
	margin: 10px;
	padding: 10px 30px;
	
	font-size: 20px;		
}

.q05:hover {
	background: #111;
}

.q06 {
	margin: 10px 10px 10px 10px;
	padding: 10px 30px 10px 30px;
	
	font-size: 20px;		
}

.q07 {
	margin: 10px 10px 10px 10px;
	padding: 10px 30px 10px 30px;
	
	font-size: 20px;		
}

.q08 {
	margin: 10px 10px 10px 10px;
	padding: 10px 30px 10px 30px;
	
	font-size: 20px;		
}

.q09 {
	margin: 10px 10px 10px 10px;
	padding: 10px 30px 10px 30px;
	
	font-size: 20px;		
}

.q10 {
	margin: 10px;
	padding: 10px 30px;
	
	font-size: 20px;		
}

.q11 {
	margin: 10px;
	padding: 10px 30px;
	
	font-size: 20px;		
}

.q12 {
	margin: 10px;
	padding: 10px 30px;
	
	font-size: 20px;		
}

.q13 {
	margin: 10px;
	padding: 10px 30px;
	
	font-size: 20px;		
}

.q14 {
	margin: 10px;
	padding: 10px 30px;
	
	font-size: 20px;		
}

.q15 {
	margin: 10px 10px 10px 10px;
	padding: 10px 30px 10px 30px;
	
	font-size: 20px;		
}

.q16 {
	margin: 10px 10px 10px 10px;
	padding: 10px 30px 10px 30px;
	
	font-size: 20px;		
}

.q17 {
	margin: 10px 10px 10px 10px;
	padding: 10px 30px 10px 30px;
	
	font-size: 20px;		
}

.q18 {
	margin: 10px;
	padding: 10px 30px;
	
	font-size: 20px;		
}

.q19 {
	margin: 10px;
	padding: 10px 30px;
	
	font-size: 20px;		
}



.a3 {
	cursor: pointer;

	border: none;
	outline: none;
}

/*
.btn {
	font-size: 20px;		 
}
*/
