.rootDiv {
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modeDiv,
.modeButton {
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.readInput,
.writeInput {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  font-size: 40px;
}

.readInput {
  border: none;
  border-color: transparent;
}

.numberLabel {
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.numberInput {
  font-size: 20px;
  margin: 0;
  width: 200px;
}
