.rootDiv,
.readDiv,
.writeDiv,
.numberDiv,
.rateDiv,
.pitchDiv,
.voiceDiv,
.voiceSelect,
.modeDiv,
.modeButton {
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.readLabel,
.writeLabel,
.numberLabel,
.rateLabel,
.pitchLabel {
  display: inline-block;
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  /*padding: 5px 5px 5px 5px;*/
  width: 120px;
}

.readInput,
.writeInput,
.numberInput,
.rateInput,
.pitchInput {
  border: none;
  border-color: transparent;
  font-size: 20px;
  margin: 5px 5px 5px 5px;
}

/*input[type="range"] {*/
.numberInput,
.rateInput,
.pitchInput {
  width: 250px;
  margin: 0;
}

.lightModeButton, text {
  background-color: white;
  color: black;
}

.darkModeButton {
  background-color: black;
  color: white;
}
