.rootDiv {
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.numberLabel,
.modeDiv,
.modeButton {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.readInput,
.writeInput {
  border: none;
  border-color: transparent;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  font-size: 40px;
}

.numberInput {
  margin: 0;
  width: 200px;
}
