.myDiv,
.myH1,
.mySpan {
	font-size: 30px;
	padding: 5px;
}

.myButton {
	font-size: 20px;
	padding: 5px;
}

.myAside {
	display: inline-block;
	font-size: 30px;
	padding: 5px;
	width: 180px;
}

.myImage {
	font-size: 30px;
	padding: 5px;
	width: 500px;
}
