body {
    margin: 0;
}

header, nav, aside, main, footer {
	margin: 0.5em;
    border: thin solid;
    padding: 0.5em;
    background: #EFF;
    color: black;
    box-shadow: 0 0 0.25em #033;
 }
 
h1, h2, p {
    margin: 0;
}

nav, main {
    float: left;
}

aside {
    float: right;
}

footer {
    clear: both;
}

.game {
    margin: 0;
    padding: 20px;
}
