.rootDiv {
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

.vocabularyDiv,
.vocabularySelect,
.textDiv,
.textareaDiv,
.buttonsDiv,
.previousButton,
.playButton,
.allPlayButton,
.nextButton,
.rateDiv,
.pitchDiv,
.voiceDiv,
.voiceSelect {
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

.textLabel,
.rateLabel,
.pitchLabel {
	display: inline-block;
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	width: 120px;
}

.textInput {
	border: none;
	border-color: transparent;
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

.textareaInput {
	border: none;
	border-color: transparent;
	font-size: 30px;
	height: 200px;	
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	width: 80%;
}

.rateInput,
.pitchInput {
	font-size: 20px;
	margin: 5px 5px 5px 5px;
}

input[type="range"] {
	width: 250px;
	margin: 0;
}

body {
	background-color: white;
	color: black;
}

.darkModeButton {
	background-color: black;
	color: white;
}

.modeDiv,
.modeButton {
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}
