.txt {
	font-size: 100px;
	border: none;
	outline: none;
}

.txt2 {
	font-size: 40px;
	border: none;
	outline: none;
	width: 80%;
	height: 500px;
}

.text-a {
	margin: 30px auto;
}

.btn {
	border: none;
	outline: none;
	background: #008;
	padding: 10px 30px;
	font-size: 20px;
	color: #eee;
	cursor: pointer;
	margin: 10px auto;			 
}

.btn:hover {
	background: #111;
}
