.myHeader {
	font-size: 40px;
	padding: 5px;
}

.myContainer {
	display: grid;
	gap: 5px;
	grid-template-columns: 150px 500px;
}

.myGrid {
	font-size: 30px;
	padding: 5px;
}

.myButton {
	font-size: 20px;
	padding: 5px;
	float: right;
}

.myImage {
	height: 250px;	
	width: 250px;
}

.myButtons {
	font-size: 20px;
	padding: 5px;
	margin: 0px 5px 0px 0px;
}
