.q01 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	border: none;
	outline: none;
	
	font-size: 60px;	
	
	width: 100%;		
}

.q02 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
	
	width: 250px;
	height: 250px;	
}

.q03 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	border: none;
	outline: none;
	
	font-size: 60px;	
	
	width: 100%;	
}

.q04 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q05 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q06 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q07 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q08 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q09 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q10 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q11 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q12 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q13 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q14 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q15 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q16 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q17 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q18 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q19 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q20 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q21 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q22 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q23 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}

.q24 {
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 10px 0px;
	
	font-size: 20px;	
}
