body {
    background: #000;
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameBackground {
    width: 800px;
    height: 600px;
    background: #fff;
    color: blue;
}
