.rootDiv {
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

.textDiv,
.imageDiv,
.descriptionDiv,
.buttonsDiv,
.previousButton,
.playButton,
.nextButton,
.textButton,
.imageButton,
.descriptionButton,
.rateDiv,
.pitchDiv,
.voiceDiv,
.voiceSelect {
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

.textLabel,
.imageLabel,
.descriptionLabel,
.rateLabel,
.pitchLabel {
	display: inline-block;
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	width: 120px;
}

.textInput,
.descriptionInput {
	border: none;
	border-color: transparent;
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}

.rateInput,
.pitchInput {
	font-size: 20px;
	margin: 5px 5px 5px 5px;
}

input[type="range"] {
	width: 250px;
	margin: 0;
}

.imageImg {
	font-size: 20px;
	height: 250px;	
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
	width: 250px;
}

body {
	background-color: white;
	color: black;
}

.darkModeButton {
	background-color: black;
	color: white;
}

.modeDiv,
.modeButton {
	font-size: 20px;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 5px 5px;
}
