.rootDiv {
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modeDiv,
.modeA,
.versesDiv,
.modeB,
.modeButton {
  font-size: 30px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
