.rootDiv,
.verbDiv,
.verbSelect,
.rateDiv,
.pitchDiv,
.voiceDiv,
.voiceSelect,
.modeDiv,
.modeButton {
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.verbLabel,
.rateLabel,
.pitchLabel {
  display: inline-block;
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  width: 120px;
}

.verbInput,
.rateInput,
.pitchInput {
  border: none;
  border-color: transparent;
  font-size: 20px;
  margin: 5px 5px 5px 5px;
}

.rateInput,
.pitchInput {
  width: 250px;
  margin: 0;
}

.lightModeButton {
  background-color: white;
  color: black;
}

.darkModeButton {
  background-color: black;
  color: white;
}
