.myMain {
    display: grid;
    gap: 5px;
    grid-template-columns: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myDiv,
.myLabel,
.myRange,
.myButton {
    font-size: 20px;
    padding: 5px;
}

.myText {
    font-size: 50px;
    padding: 5px;
}
